<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="true"
>
    <testsuites>
        <testsuite name="Browser">
            <directory suffix="Test.php">./tests/Browser</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_KEY" value="base64:Xgs1LQt1GdVHhD6qyYCXnyq61DE3UKqJ5k2SJc+Nw2g="/>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_URL" value="http://localhost"/>
        <env name="CACHE_DRIVER" value="redis"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="REDIS_HOST" value="192.168.10.10"/>
        <env name="HUAWEI_LOGIN" value="/siwa-login"/>
        <env name="HUAWEI_REDIRECT" value="http://testing.dev/siwa-callback"/>
        <env name="HUAWEU_CLIENT_ID" value="apiKey2"/>
        <env name="HUAWEI_CLIENT_SECRET" value="eyJraWQiOiIiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiI5UEhUOTI1TVBWIiwiaWF0IjoxNTk5NzE2Mjg4LCJleHAiOjE2MTUyNjgyODgsImF1ZCI6Imh0dHBzOi8vYXBwbGVpZC5hcHBsZS5jb20iLCJzdWIiOiJhcHAuaW1wcmVzc28uZGV2In0.yawgQqS9ZkZAPZC5zCLJxMOdKI-ccfE27JOdt6V3br0qV3JXv6NPqaIEJf8HrCm82tiR8xSBcblJQH6n2clEyw"/>
    </php>
</phpunit>
